---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import Products from '../components/Products.astro';
import OpenSource from '../components/OpenSource.astro';
import About from '../components/About.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Nav />
  <main>
    <Hero />
    <Products />
    <OpenSource />
    <About />
  </main>
  <Footer />
</Layout>
